.calculator {
    margin: auto;
    width: 225px;
    height: 470px;
    background-color: black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: 5px solid rgb(72, 72, 72);
}