.PhoneButton {
  height: 33px;
  border-radius: 50%;
  padding: 4px;
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-color: #636366;
  width: 33px;
  color: white;
  border-radius: 50%;
  line-height: 0;
  position: relative;
}

.PhoneButton:hover {
  cursor: pointer;
}

.PhoneButtonText {
  position: absolute;
  font-size: 6px;
  top: 24px;
}

.PhoneButtonNumber {
  position: absolute;
  top: 2px;
}
