.Notch {
    background-color:  rgb(72, 72, 72);
    width: 100px;
    height: 13px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-self: center;
    display: flex;
    justify-content: center;
}

.Speaker {
    background-color: black;
    width: 28px;
    height: 4px;
    border-radius: 2px;

}

.Camera {
    background-color: black;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-left: 6px;
}